body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #d9d9d7;
}
.select-none{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.bg-abt-blue-dark{
  background-color: #001d34;
}
.bg-abt-gray{
  background-color: #d9d9d7;
}
.bg-abt-blue{
  background-color: #52c0e6;
}
.text-white{
  color: #ffffff;
}
.text-abt-blue{
  color: #49c7ed;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.container{
  padding: 20px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clear-both{
  clear: both;
}
.browse-container{
  width:100%;
  border-radius: 8px;
  border:1px solid #f36a52;
}
.browse-container div{
  width: 650px;
  padding:5px;
  font-size: 17px;
}
.browse-container .button {
  background-color: #f36a52;
  color:#fff;
  cursor: pointer;
  width:15%;
  text-align: center;
  border-left: 1px solid #f36a52;
  transition-duration: 0.2s;
}
.browse-container .disable {
  background-color: #fff;
  color:#fff;
  width:15%;
  border-left: 1px solid #fff;
  transition-duration: 0.2s;
  cursor: text;
}
.browse-container .button:hover{
  background-color: white;
  color: #f36a52;
}
.browse-container .result {
  text-align: left;
  padding-right:10px;
  background: #fff;
}
.coral-button{
  border-radius: 8px;
  padding:5px 25px;
  background-color: #f36a52;
  color:white;
  border:1px solid #f36a52;
  transition-duration: 0.2s;
  cursor: pointer;
}
.coral-button:hover{ 
  background-color: white;
  color: #f36a52;
}
.install-btn{
  position: absolute;
  right:    120px;
  bottom:   20px;
}
.cancel-btn{
  position: absolute;
  right:    20px;
  bottom:   20px;
}
.progress-container{
  border:1px solid #001d34;
  background-color: #49c7ed;
  width: 735px;
  height:25px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar{
  background-color: #001d34;
  height:25px;
  transition-duration: .2s;
}
.cursor-progress{
  cursor: progress;
}
.cursor-default{
  cursor: default;
}